body {
    margin: auto;
    background-color: black;
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.mid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 100px;
}

.mid .mn img {
  width: 300px;
  height: auto;
  margin-right: 20px;
}

.mid .txt {
  text-align: center;
  color: white;
  margin: 20px;
  width: 100%;
}

.imj img {
  width: 100%; 
  height: auto;
}

.mn {
  align-items: center;
  margin-bottom: 5px;
}

.txt {
  text-align: center;
  color: white;
  margin: 20px;
  width: 100%;
}

.mid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 10px;
}



    
  .nav {
    overflow: hidden;
    background-color: #ffffff;
  }
  
  .nav a {
    float: left;
    display: block;
    color: #cf1414;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav a:hover {
    background-color: #c51111;
    color: black;
  }
  
  .nav a.active {
    background-color: #d3112e;
    color: white;
  }
  
  .nav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  .info {
    padding-left: 15px;
  }  